@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color-scheme: dark;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
* {
  -webkit-tap-highlight-color: transparent;
}
